@import "tailwindcss";

/* Centrar todo en la página */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: sans-serif;
}

/* El contenedor del diagrama */

.chord-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guitar-grid {
    display: grid;
    grid-template-columns: repeat(6, 30px); /* 6 cuerdas */
    grid-template-rows: repeat(6, 40px);   /* 4 trastes */
    background-color: white;
    border: 2px solid #333;
    width: fit-content;
}

.cell {
    position: relative; /* La celda es ahora el punto de referencia */
    border: 1px solid black;
    /* width: 30px; */
    height: 40px;
}

/* El punto del dedo */
.dot {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 50%;
    top: 51%;
    left: 50%;
    transform: translate(-42%, -37%)
}